.subtitle {
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    &_fz64 {
        padding-top: 12px;
        font-size: 64px;
        line-height: 60px;
    }
}